---
import HomeHero from '../components/hero/HomeHero.astro'
import Layout from '../layouts/Layout.astro'
import { getPage } from '../services/pageService'

const seo = {
	title: 'Welcome to Astro x Monogram',
	description:
		'Astro is a fresh but familiar approach to building websites. Astro combines decades of proven performance best practices with the DX improvements of the component-oriented era. Use your favorite JavaScript framework and automatically ship the bare-minimum amount of JavaScript—by default.',
	image:
		'https://images.unsplash.com/photo-1614849286447-fb815456e5a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1200&q=80',
	url: 'https://monogram.io'
}

const { slug } = Astro.params

if (!slug) {
	return Astro.redirect('/404')
}

const page = await getPage(slug)

if (!page) {
	return Astro.redirect('/404')
}
---

<Layout seo={seo}>
	<main>
		{
			page.page?.sections.map((section) => {
				if (section.__typename === 'HomeHeroRecord') {
					return <HomeHero {...section} />
				}
			})
		}
	</main>
</Layout>
