---
import PageComponent from '../components/page/PageComponent.astro'
import { getHomePage } from '../services/pageService'

import Layout from '../layouts/Layout.astro'

const seo = {
	title: 'Welcome to Astro x Monogram',
	description:
		'Astro is a fresh but familiar approach to building websites. Astro combines decades of proven performance best practices with the DX improvements of the component-oriented era. Use your favorite JavaScript framework and automatically ship the bare-minimum amount of JavaScript—by default.',
	image:
		'https://images.unsplash.com/photo-1614849286447-fb815456e5a5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1200&q=80',
	url: 'https://monogram.io'
}

const homePageData = await getHomePage()
---

<Layout seo={seo}>
	<main>
		<PageComponent sections={homePageData.page?.sections} />
	</main>
</Layout>
