---
import Head from '../components/Head.astro'

export interface Props {
	seo: {
		title: string
		description: string
		image: string
		url: string
	}
}

const { seo } = Astro.props
---

<!doctype html>
<html lang="en">
	<Head {...seo} />
	<body>
		<slot />
	</body>
</html>
